{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<h1>Home page</h1>
    <p>Welcome to the room page. This is where you can find information about our rooms and services.</p>
    <div class="home-container">

        <div>
            {% include 'base/topics_component.html' %}
        </div>

        <div>
            <h5>{{room_count}} rooms available</h5>
        <a href="{% url 'create-room' %}"> Create Room </a>
        {% include 'base/feed_component.html' %}
        </div>

        <div>
            {% include 'base/activity_component.html' %}
        </div>

    </div>

{% endblock content %}
